{% extends "layout/_template.njk" %}
{%
  set pageConfig = {
      "title": title,
      "header": {
          "title": title
      },
      "footer": {
          "oglLink": {
              "pre": 'All content is available under the',
              "link": 'Open Government Licence v3.0',
              "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
              "post": ', except where otherwise stated'
          }
      }
  }
%}
{% block main %}
  {% from "components/details-panel/_macro.njk" import onsDetailsPanel %}

  {{
    onsDetailsPanel({
        "open": true,
        "title": dap_dataset,
        "detailsItems": [
            {
                "text": 'File Path',
                "description": '<ul><li>/DAP/datasets/dataset-file-path</li></ul>'
            },
            {
                "text": 'Creation date',
                "description": '<ul><li>13-08/2024</li></ul>'
            },
            {
                "text": 'IAR Number',
                "description": '<ul><li>REF-987654321</li></ul>'
            },
            {
                "text": 'Read AD Groups',
                "description": '<ul><li>AD Group 1</li><li>AG Group 2</li></ul>'
            },
            {
                "text": 'Write AD Groups',
                "description": '<ul><li>AD Group 1</li><li>AG Group 2</li></ul>'
            },
            {
                "text": 'Hive Database Name',
                "description": '<ul><li>Database name</li></ul>'
            }
            {
                "text": 'IAO',
                "description": '<ul><li>IAO Name</li><li>IAO Email Address</li></ul>'
            }
            {
                "text": 'DIAO',
                "description": '<ul><li>DIAO Name</li><li>DIAO Email Address</li></ul>'
            }
            {
                "text": 'Number of projects accessing dataset',
                "description": '<ul><li>3</li></ul>'
            }
            {
                "text": 'List of Projects accessing dataset',
                "description": '<ul><li>Project 1</li><li>Project 2</li><li>Project 3</li></ul>'
            }
            {
                "text": 'Project owners accessing dataset',
                "description": '<ul><li>Maverick Pierce (Workspace Owner)</li><li>Katherine Nichols (Workspace Owner)</li><li>Sebastian Reynolds (Workspace Owner)</li></ul>'
            }
            {
                "text": 'Data Sensitivity',
                "description": '<ul><li>Sensitive</li></ul>'
            }
        ]
    })
  }}
{% endblock %}
